.imgLogo{
    width: 4vw;
    height: 4vw;
    object-fit: contain;
}
.imgLogo{
    width: 8vw;
    height: 8vw;
    object-fit: contain;
}
.imgLogo{
    width: 16vw;
    height: 16vw;
    object-fit: contain;
}
.imgLogo{
    width: 33vw;
    height: 33vw;
    object-fit: contain;
}