.imgSmall{
    width: 4vw;
    height: 4vw;
    object-fit: contain;
}
.imgMed{
    width: 8vw;
    height: 8vw;
    object-fit: contain;
}
.imgBig{
    width: 16vw;
    height: 16vw;
    object-fit: contain;
}