@import '../01subAtoms/colors';
@import '../01subAtoms/fontFamily';
@import '../01subAtoms/fontSize';

h1{
    color: $primaryCol;
    font-size: $f5;
    font-weight: 700;
    margin-bottom: .5em;
    line-height: .8em;
    
    & + p{
        font-size: $f4;
        font-weight: 400;
    }
}

h2{
    color: $compCol;
    font-size: $f4;
    font-weight: 700;
    margin-bottom: .5em;
    line-height: .8em;
}

h3{
    color: $primaryCol;
    font-size: $f4;
    margin-bottom: .5em;
}

p, textarea, figcaption, label, input, textarea, li{
    color: $primaryCol;
    font-size: $f3;
    margin-bottom: .5em;
}

a, textarea, figcaption{
    line-height: 1.5em;
    width: clamp(45ch, 50%, 75ch);
}


.subtitle{
    font-size: $f3;
    font-weight: 700;
}

blockquote{
    color: $primaryCol;
    font-size: $f2;
    font-style: italic;
    margin-bottom: .5em;
    ::before{
        content: '"';
    }
    ::after{
        content: '"';
    }
}

a{
    color: $primaryCol;
    font-size: $f3;
    text-decoration: none;
    
    &:hover{
        color: $primaryColMuted;
    }
    :active{
        color: white;
        background-color: $primaryCol;
    }
    :focus{
        color: $primaryColMuted;
        background-color: $primaryCol;
    }
}