@use '../../01subAtoms/subAtoms' as *;
@use '../../02atoms/atoms' as *;

body{
    margin: 0;
    padding: 5vh 0;
}
.contact_form{

    &__title{
        color: $primaryCol;
        margin-bottom: 1.5em;
    }

    &__container{
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    &__label{
        margin-top: .5em;
    }

    &__textArea{
        border: $borderThin;
        width: 100%;
    }

    &__send{
        color: $white;
        margin: 1.5em 0;
        font-size: $f3;
        background-color: $compCol;
    }
}