/* === go to colors === */

/* HUE */

$hue: 80;

$analogue1:             $hue+32;
$analogue2:             $hue+328;

$triadic1:              $hue+120;
$triadic2:              $hue+240;

$complementary:         $hue+180;


/* saturation */

$sat:                   10;    
$sat1:                  $sat*3.5;
$sat2:                  $sat*5;
$sat3:                  $sat*6.5;

/* brightness */

$lux:                   10;
$lux1:                  $lux*3.5;
$lux2:                  $lux*5;
$lux3:                  $lux*8;