/* === go to subAtoms === */

/* use clamp (min, ideal, max); */
/* 
$f01:       .9rem;
$f1:      1.2rem;
$f2:      1.6rem;
$f3:      2.1rem;
$f4:      2.8rem;
$f5:      3.7rem;
$f6:      5rem;
$f7:      6.7rem;
$f8:      8.9rem;
$f9:      11.9rem;

 */

$f01:       .9rem;
$f1:      1.2rem;
$f2:      calc($f1 * 4 / 3);
$f3:      calc($f2 * 4 / 3);
$f4:      calc($f3 * 4 / 3);
$f5:      calc($f4 * 4 / 3);
$f6:      calc($f5 * 4 / 3);
$f7:      calc($f6 * 4 / 3);
$f8:      calc($f7 * 4 / 3);
$f9:      calc($f8 * 4 / 3);