<div class="card">
    <img src="" alt="" class="card__img">
    <div class="card__txt-contain">
        <h3 class="card__title"></h3>
        <p class="card__subtitle"></p>
        <p class="card__txt"></p>
        <div class="card__options">
            <a href="" class="card__link" target="blank"></a>
            <a href="" class="card__link" target="blank"></a>
        </div>
    </div>
</div>

<div class="employeecard">
    <img src="" alt="" class="employeecard__img">
    <h3 class="employeecard__name"></h3>
    <p class="employeecard__position"></p>
    <p class="employeecard__status"></p>
    <a href="tel:" class="employeecard__phone"></a>
    <a href="mailto:" class="employeecard__mail"></a>
</div>

<div class="productcard">
    <p class="productcard__discount"></p>
    <img src="" alt="" class="productcard__img">
    <div class="productcard__tag-container">
        <p class="productcard__tag"></p>
        <p class="productcard__tag productcard__tag-special"></p>
    </div>
    <h3 class="productcard__title"></h3>
    <p class="productcard__price"></p>
    <div class="productcard__size-container">
        <p class="productcard__size"></p>
        <p class="productcard__size"></p>
        <p class="productcard__size"></p>
        <p class="productcard__size"></p>
        <p class="productcard__size product__size-selected"></p>
    </div>
    <button class="productcard__btn"></button>
</div>