@use '../../01subAtoms/subatoms' as *;

.accordion{
    &__container{
        background-color: $grey2;
        width: 10vw;
    }

    &__group{
        background-color: $grey1;
        margin: 5px 0;
    }

    &__group-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    &__group-name{
        font-size: $f3;
        color: $white;
        font-weight: 700;
    }

    &__group-img{
        height: 15px;
    }

    &__group-warning{
        font-size: $f3;
        color: $white;
        font-weight: 700;
        background-color: $black;
        border-radius: 20px;
        width: 40px;
        text-align: center;
    }

    &__field{
        background-color: $grey2;
        display: flex;
        padding: 0 10px;
        align-items: center;
    }

    &__field-icon{
        height: 15px;
        margin-right: 10px;
    }

    &__field-warning{
        font-size: $f3;
        color: $black;
        font-weight: 400;
        background-color: $white;
        border-radius: 20px;
        width: 80px;
        text-align: center;
    }
}