@use '../../01subAtoms/subatoms' as *;

.btn{
    padding: .5em 1.5em .5em 1.5em;
    border: none;
    border-radius: 5px;
    transition: $transitionDuration;
    font-size: 30px;

    :hover{
        color: $primaryColMuted;
    }

    :active{
        color: $white;
        background-color: $primaryCol;
    }

    :focus{
        color: $primaryColMuted;
        background-color: $primaryCol;
    }
}