@use "../../01subAtoms/subAtoms" as *;

.toggle{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    
    
    &__cursor{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $grey1;
    }
}

.toggle-on{
    background-color: $primaryColLight;
    justify-content: flex-start;
}

.toggle-off{
    background-color: $white;
    justify-content: flex-end;
}