.ph4__header{
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: rosybrown;
}
.ph4__left-sd{
    padding: 2rem;
    grid-column: 1 / 2;    
    background-color: blue;
}
.ph4__main-content{
    padding: 2rem;
    grid-row: 2 / 4;    
    background-color: burlywood;
}
.ph4__right-sd{
    padding: 2rem;
    grid-column: 4 / 4;    
    background-color: yellow;
}
.ph4__footer{
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: greenyellow;
}