.layout3{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}

.ph3__header{
    background-color: blue;
    width: 100%;
    height: 10vh;
}

.ph3__main{
    background-color: bisque;
    height: auto;
    width: auto;
}

.ph3__footer{
    background-color: brown;
    width: 100%;
    height: 10vh;
}

