.ph5{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    &__div{
        height: 100px;
        width: 100px;
    }
} 

/* it works with auto-fill as well, but different */

.pink{
    background-color: pink;
}

.violet{
    background-color: violet;
}

.blue{
    background-color: blue;
}

.green{
    background-color: greenyellow;
}