body{
    height: 100vh;
    display: grid;
    place-items: center;
}
.bento{
    &__container{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    &__square{
        height: 10px;
        width: 10px;
        background-color: $black;
        margin: 5px 5px;
    }
}