@use '../../01subAtoms/subatoms' as *;

.breadcrumb{
    &__container{
        height: 4em;
        width: fit-content;
        background-color: $white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 2em;
    }

    &__link{
        color: $primaryCol;
        font-size: $f2;

        &:hover{
            color: $primaryColMuted;
        }
        &:focus{
            color: $primaryCol;
            outline: 1px solid $compCol;
        }
        &:active{
            color: $primaryColMuted;
            outline: 3px solid $compCol;
        }
    }

    &__divider{
        margin: 0 10px;
    }
}