.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em;
    width: 10vw;
    background-color: $grey2;
    position: fixed;
    inset: 0 auto 0 0;
    &__link{
        margin: 1.5em 0;
    }
    scroll-padding: 1rem 0 1rem;
}