.nav-bar{
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        padding: .5em 1em;
    }
    &__link{
        margin: 0 1em;
        width: fit-content;
        
        &:hover{
            color: $white;
            background-color: $primaryCol;
        }
        
        &:active{
            color: $white;
            background-color: $grey1;
        }
        &:focus{
            color: $white;
            background-color: $black;
        }
    }
}