.tab-bar{

    &__container{
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    }

    &__icon{
        margin: 0 15px;
        height: 40px;
        padding: 10px;
        transition: 150ms;
        
        /* &:hover{
            border-radius: 10px;
            background-color: $compCol;
        } */
        
        &:hover{
            box-shadow: 0 3px 0 $compCol;
        }
    }
}