.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: $borderMed solid $primaryCol;
    padding: 3em 0 2em;
    &__img{
        border-radius: 50%;
        height: $imgMed;
        width: $imgMed;
        margin: 0 auto;
    }
    &__tittle{
        font-size: $f4;
        font-weight: 700;
        color: $primaryCol;
        margin: 2em auto 1em;
    }
    &__txt{
        font-size: $f3;
        color: $primaryCol;
        margin: 0 1em;
    }
}