@use '../../01subAtoms/subatoms' as *;

.meatball{
    &__container{
        width: fit-content;
        display: flex;
    }

    &__square{
        height: 10px;
        width: 10px;
        background-color: $black;
        margin: 0 5px;
    }
}